@charset "utf-8";

main{
    margin: 0 auto;
    width: 50%;
    text-align: center;

}

h1{
    font-size: 20px;
}

p{
    border: 2px solid wheat;
    padding: 30px 0 ;
    font-weight: bold;
    font-size: 32px;
}

button{
    cursor: pointer;
    all: unset;
    background-color: rgb(189, 235, 189);
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
box-shadow: 0px 4px lightgreen;
}

button:hover{
    opacity: 0.8;
}

button:active{
    box-shadow: none;
    transform: translateY(3px);
}